body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-color: #f9f9f9;
}
.container {
    display: flex;
}
.box {
    display: flex;
    /* flex-wrap: column; */
    /* flex: 1; */
    max-width: 500px;
    margin: auto 500px;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.box2 {
    /* display: flex; */
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    max-width: 300px;
    margin: auto;
    padding: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.boxImg {
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.h2 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px; 
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}